Port 22
PasswordAuthentication yes
PermitEmptyPasswords no
PermitRootLogin no
Subsystem sftp internal-sftp
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
